# local changelog cache (lerna-changelog)
.changelog/

# Dependency directories
node_modules/
# dist
packages/*/dist

docs/.next

# Optional npm cache directory
.npm

# Mac files
.DS_Store

lerna-debug.log
# Yarn
yarn-error.log
.pnp/
.pnp.js
# Yarn Integrity file
.yarn-integrity