@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-sm antialiased border-neutral-200 dark:border-neutral-700;
}

body {
  text-rendering: optimizelegibility;
  user-select: none;
  text-size-adjust: none;
  cursor: default;
}
